
.tips-bashboard{
    width: 90%;
    margin: 50px auto;
}
.tips-bashboard form{
  margin-left: -8px;
}
.tips-header{
    padding: 20px;
    color: black;
}
.tips-header h2{
    padding-bottom: 10px;
}
.tips-header .numbers-tips{
    font-size: 14px;
    padding: 10px 0;
    display: flex;
    gap: 15px;
    text-transform: capitalize;
}

.tips-header .numbers-tips span{
    color: #777;
}
.table-header{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-header form{
    width: 250px;

}
.table-header form input{
  width: 250px;
  padding: 0.5rem 2rem;
  border:1px solid #ddd;
  box-shadow: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.filters{
    display: flex;
    gap: 10px;
    background-color: transparent;
    

}
.filters .cat{
    position: relative;
    background-color: transparent;
}
.filters .cat .cat-dropdown{
  /*width: 200px;
  */margin-top: 5px;
  position: absolute;
  z-index: 100000;
  background-color: white;
  width: 115px;
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
  padding: 10px 10px;
}
.months{
  position: relative;
}
.months-dropdown{
  margin-top: 5px;
  position: absolute;
  z-index: 100000;
  background-color: white;
  width: 110px;
  height: 130.4px;
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
  padding: 10px 10px;
  overflow-y: scroll;

}
.filters .cat .cat-dropdown p,
.months-dropdown p{
    text-align: start;
    
    cursor: pointer;
    padding: 10px;
    /* text-align: center; */
  
 
    font-size: 14px;
}
.filters .cat .cat-dropdown p:hover{
    color:rgba(65, 143, 191, 1) ;
}
.filters button{
    border:1px solid #ddd;
    box-shadow: none;
    outline: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 0.5rem 1rem;
    
    background-color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.addtip button{
    border:1px solid #ddd;
    box-shadow: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px 40px;
    padding: 0.5rem 1.5rem;
    background-color: rgba(65, 143, 191, 1);
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    gap: 5px;
}
.arrow-list{
    margin-bottom: -2px;
    margin-left: 10px;
}
.styled-table {
    color: black;
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  .styled-table thead {
    border-top: 1px solid #ddd; /* الخط العلوي */
    background-color: #f4f4f4;
  }
  
  
  .styled-table th, .styled-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

}
  .styled-table tr:hover,
  .styled-table tr.active{
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  .styled-table tr.active{
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}
  
  .styled-table td{
    text-align: center;
  }
  .styled-table th {
    text-align: center;
text-transform: capitalize;
    background-color: white;
  }
  
  .tip-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  td.title{
    text-align: center;
    display: flex;
 justify-content: center;

    align-items: center;
    gap: 10%;
  }
  td.title p{
    width: 50%;
    
  }
  .pagination {
    padding-right: 15px;
    padding-top: 15px;
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  .pagination button{
    background-color: white;
    color: rgb(65 143 191);
    border:  1px solid rgba(65 143 191);
    outline: none;
    box-shadow: none;
    border-radius: 2px;
    padding: 3px 5px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.pagination button.active{
    background-color:rgba(65 143 191) ;
    color: white;
}
.deleteicon{
  color: red;
  width: 15px;
}