.Tips-overview {
    width: 90%;
    margin:  0 auto;
    padding: 70px 0;
}
.Tips-overview .header{
    display: flex;
    justify-content: space-between;
}
.Tips-overview  .header .box1{
    display: flex;
    gap: 20px;
}
.Tips-overview  .header .box1 img{
    border-radius: 10px;
    width: 70px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header .box1 .text{
    color: black;
    text-transform: capitalize;
}
 .header .box1 h2{
    padding-bottom: 5px;
 }
 .header .box1 p{
    color: #777;
 }
 .Categories {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
 }
 .Categories .Categoriemamy{
    width: 450px;
    background-color: rgba(255, 182, 237, 0.372);
    border-radius: 16px;
    color: black;
    padding: 30px;
    
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.Categories .Categoriemamy h3{
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .5px;
    padding-bottom: 10px;
}
.Categories .Categoriemamy  p{
    text-transform: capitalize;
    color: #777;
    padding-bottom: 10px;
}
.Categories .Categoriemamy  span{
    color: #777;
    text-transform: capitalize;

}
.Categories .Categoriebaby{
    width: 450px;
    background-color: #dfdfff;
    border-radius: 16px;
    color: black;
    padding: 30px;
  
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.Categories .Categoriebaby h3{
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: .5px;
    padding-bottom: 10px;
}
.Categories .Categoriebaby  p{
    text-transform: capitalize;
    color: #777;
    padding-bottom: 10px;
}
.Categories .Categoriebaby  span{
    color: #777;
    text-transform: capitalize;

}
.Categories div .arrowspan{
    display: flex;
    justify-content:space-between;
}
.Categories div .arrowspan .icon{
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}