.userschart{
     max-width: 200%;
     box-shadow: 0px 2px 19px 0px #D9D8FFD4;
     border-radius:15px ;
     -webkit-border-radius:15px ;
     -moz-border-radius:15px ;
     -ms-border-radius:15px ;
     -o-border-radius:15px ;
     padding: 15px;
     padding-bottom: 0;
  flex: 2;
}
.userschart .headers{
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userschart p:first-child{
    font-family: 'Poppins', sans-serif;
    color: #4F5077;
    font-size: 16px;
    font-weight: bold;
}
.userschart p:last-child{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #9291A2;
}
.lastes{
    margin: 0 24px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
  
    align-items: start;
}
.lastes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  margin: 0 24px;
  align-items: start;
}



.lastes .lastesusers{
   
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.lastes .NewBabies,
.lastes .NewUsers {
    padding: 15px 24px;

    height: 112px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0px 2px 19px 0px #D9D8FFD4;

    background-color: #FFFFFF;
}
.lastes .NewUsers h2{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 6px;
    text-align: start;
    text-transform: capitalize;
    color: #F488B8;
    font-size: 18px;
    font-weight: 500px;
}
.lastes .NewBabies h2{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 6px;
    text-align: start;
    text-transform: capitalize;
    color: #0A6AA6;
    font-size: 18px;
    font-weight: 500px;
}
.lastes .lastesusers p:not(.pre){
    margin-top: -10px;
    color: #0000004D;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.lastes .num{
    display: flex;
    justify-content: space-between;
}
.lastes .num .precent{
    width: 80px;
    height: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;


}
/* From Uiverse.io by adamgiebl */ 
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    /* background-color: #b3d4fc; */
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    /* background-color: #6793fb; */
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}