

.login .form-inputs{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.881);
   }
   .login .logo {
    height: 160px;
    width: 50%;
    margin-top: -7%;
   }
   .login .logo img{
       width: 100%;
       max-width: 100%;
   }
   
   
   .login .header{
       width: 635px;
      
       font-family: "Inter", sans-serif;
       font-optical-sizing: auto;
       font-weight: weight;
       font-style: normal;
      color:  rgba(10, 106, 166, 1);
       padding: 37px 32px 20px 120px;
       font-weight: 700;
   }
   .login .header h1{
    font-family: "Fredoka";
    font-weight: 500;
       margin: 0;
   font-size: 30px;
   margin-bottom: 5%;
   }
   .forget{
    width: 100%;
    text-align: end;
    margin-bottom: 8%;
   }
   .forget a{
    font-family: "Fredoka";
    color: #418FBF;
    width: 400;
    size: 24px;
    text-decoration-line: none;
   }
   .forget a:hover{
    color: #30698b;
   }

   @media(max-width:1199px){
  
       .log{
        max-width: 100%;
       }
   }
   .login .submit{
  margin-bottom: 20px;
    transition: 0.3s;
    font-family: "Fredoka";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #F488B8;
    border: 2px solid #F488B8;
    text-align: center;
    text-transform: capitalize;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 8px 10px;
    width: 433px;
    outline: none;
    box-shadow: none;
  
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
 .login .submit:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.password,
.confirm-password{
    position: relative;
}
.password span,
.confirm-password span{
    position: absolute;
    color: #777;
    right: 3%;
    top: 30%;

}
.options {
    display: block;
}