 .profileNav{
    padding:15px  44px;

  
}
    

.profileNav ul{
 
    display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 32px;
    color: black;
}
.profileNav ul li{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.profileNav ul li a{
    text-decoration: none;
    color: black;
}
.profileNav ul li .mamy-name{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #F3F2F2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.profileNav ul li .mamy-name:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.profileNav ul li .mamy-name p{
    font-size: 17px;
    font-weight: 500;
}

.categories {
    display: flex;
    padding: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: -500px; 
    height: 100%;
    width: 350px;
    background-color: white;
    z-index: 1000;
    opacity: 0; 
}

.categories.show {
    transform: translateX(500px);
    opacity: 1;
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -o-transform: translateX(500px);
}


.categories .cont .all {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories .cont a {
    color: #444157;
    font-size: 19px;
    text-decoration: none;
    transition: color 0.3s; 
}

.categories .cont a:hover {
    color: #E388C4; 
}

.menu-icon {
    display: none; 
}
.categories .Navbar-btn {
    padding: 15px;
    gap: 25px;
    display: flex;
}
.categories .logo{
    margin-left: -50px;
margin-top: -30px;
    width: 200px;
    margin-bottom: 0;
 

}

.categories .logo img{
 
width: 190px;
}
.categories .lo{
  
       margin-top: 30px;;
        text-align: center;
        transition: 0.3s;
        background: linear-gradient(180deg, #418FBF 0%, #948EC3 50%, #E68CC7 100%);
        color: white;
        font-weight: 500;
        font-size: 20px;
        text-transform: capitalize;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 20px;
        padding: 10px 30px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        width: 200px;
      
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    
}
.categories .ll{
    margin-top: 10px;
}
.skeleton-span{
    background-color: rgba(255, 255, 255, 0.493);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media(max-width:899px){
    .profileNav {
   box-shadow: 0px 0px 11px 0px #00000036;
   padding-top: 15px;
   padding-bottom: 15px;
   display: flex;
   justify-content: center;
   align-items: center;

    }

}

@media(max-width: 903px) {
    .menu-icon {
        display: block; 
    }
    .profileNav {
      display: flex;
      justify-content: space-between;
    }
    .profileNav ul li:not(.nofitication) {
        display: none;
    }
}
.select-mam{
    width: 100px;
    height: 40px;
    z-index: 10000;
}
.selected-mam{
    z-index: 10000;
    height: 45px;
    width: 45px;
    color:#444157;
    background-color: #8fbdd761;
    padding: 0 5px;
    margin-bottom: 3px;
    border-radius:50%;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    transition:0.3s ;
    -webkit-transition:0.3s ;
    -moz-transition:0.3s ;
    -ms-transition:0.3s ;
    -o-transition:0.3s ;
}
.options-mam{
   
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0px;
    /* background-color: white; */
    position: relative;
    background-color: #F3F2F2;
    top: -100px;
    left: -10%;
    opacity: 0;
    transition: 300ms;
    display: none;
    height: 70px;

  }
  .options-mam.active{
 padding: 0 20px;
    display: block;
    opacity: 1;
    top: 0;
    left: -30px;
    transition: opacity 0.3s ease-in-out;
    background-color: white;
    width: 150px;

   }
    
   .selected-mam .arrow {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.activearrowmam .arrow{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.option-mam {

    border-radius: 5px;
    padding: 10px ;
  
    
    transition: 300ms;
 
    width: 100px;
    font-size: 15px;
  }
  .option-mam a{
    padding-bottom: 10px !important;
  }
  .option-mam:hover  a{
color: #0093d8;
}


  .options-mam div {
    
    margin: 10px 0;
  }
  .options-mam div a{
    transition: 0.3s;
    color: #444157;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
 
  
  .options input[type="radio"] {
    display: none;
  }

  .options-mam input[type="radio"] {
    display: none;
  }

