 .profileNav{
    padding:15px  44px;

  
}
    

.profileNav ul{
 
    display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 32px;
    color: black;
}
.profileNav ul li{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.profileNav ul li a{
    text-decoration: none;
    color: black;
}
/* .profileNav ul li .mamy-name{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #F3F2F2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.profileNav ul li .mamy-name:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.profileNav ul li .mamy-name p{
    font-size: 17px;
    font-weight: 500;
} */

.categories {
    display: flex;
    padding: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: -500px;
    height: 100%;
    width: 350px;
    background-color: white;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    -moz-transition: transform 0.3s ease, opacity 0.3s ease;
    -ms-transition: transform 0.3s ease, opacity 0.3s ease;
    -o-transition: transform 0.3s ease, opacity 0.3s ease;
}

.categories.show {
    transform: translateX(500px);
    opacity: 1;
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -o-transform: translateX(500px);
}


.categories .cont .all {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto !important;
}

.categories .cont a {
    color: #444157;
    font-size: 19px;
    text-decoration: none;
    transition: color 0.3s; 
}

.categories .cont a:hover {
    color: #E388C4; 
}

.menu-icon {
    display: none; 
}
.categories .Navbar-btn {
    padding: 15px;
    gap: 25px;
    display: flex;
}
.categories .logo{
    margin-left: -50px;
margin-top: -30px;
    width: 200px;
    margin-bottom: 0;
 

}

.categories .logo img{
 
width: 190px;
}
.categories .lo{
  
       margin-top: 30px;;
        text-align: center;
        transition: 0.3s;
        background: linear-gradient(180deg, #418FBF 0%, #948EC3 50%, #E68CC7 100%);
        color: white;
        font-weight: 500;
        font-size: 20px;
        text-transform: capitalize;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 20px;
        padding: 10px 30px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        width: 200px;
      
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    
}
.categories .ll{
    margin-top: 10px;
}
.skeleton-span{
    background-color: rgba(255, 255, 255, 0.493);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




  
  .options input[type="radio"] {
    display: none;
  }

  .options-mam input[type="radio"] {
    display: none;
  }
  .nofitication{
    list-style: none;
    user-select: none;
    position: relative;
    left: -5%;
    text-align: center;
    padding-top: 10px;
  
  }
  .numberofnotication{
    
       cursor: pointer;
       display: flex;
       justify-content: center;
           text-align: center;
           font-size: 15px;
           top:-20px;
           position: relative;
           display: inline-block;
           width: 25px;
           height: 25px;
           border-radius: 50%;
           background-color: #e68cc7 !important;
           color: white;
           right: -38px;
           -webkit-border-radius: 50%;
          
          
       }
       .numberofnotication p{
        user-select: none;
        padding-top: 4px;
        padding-right: 2px;
        font-family: "Fredoka";
     
       }
       .cards{
        position: absolute;
        top: 50px;
        right: -20px; 
        background-color: white;
        box-shadow: 0 4px 20px rgba(10, 106, 166, 0.2);
        width: 340px; 
        padding: 10px;
        z-index: 1000; 
        padding: 20px 0px;
        max-height: 400px;
       overflow-y: auto;
  overflow-x: hidden;
        z-index: 1000000000000000;
        user-select: none;
       }
 .cards::before{
     content: "";
    position: absolute;
    top: -10px; 
    right: 20px; 
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(191, 74, 74); 
    z-index: 1000000000000000000000000000000;
         }
    
       .cards h3{
          font-family: "Fredoka";
        font-size: 18px;
        padding-bottom: 10px;
        font-weight: 500;
        
       }
       .header-note{
        display: flex;
       
        gap: 10px;
       }
       .note{
        transition: 0.3s;
       padding:  15px 20px 5px 20px;
        border-bottom: 2px solid #f7f7f7       ;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
}
.note:hover{

    background-color: #8fbdd72f
}
       .cards p{
        font-family: "Fredoka";
        color: #777;
    font-size: 13px;
    text-align: center;


       }

       @keyframes slideUpDown {
        0% {
          transform: translateY(-5px);
          -webkit-transform: translateY(-5px);
          -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          -o-transform: translateY(-5px);
}
        50% {
   
          transform: translateY(0); /* يستقر في مكانه */
        }
        100% {
          transform: translateY(-5px);
          
          -webkit-transform: translateY(-5px);
          -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          -o-transform: translateY(-5px);
}
      }
      .css-imrjgg-MuiButtonBase-root-MuiCheckbox-root {
        left: 70%;;
      }
      
     .check .css-1umw9bq-MuiSvgIcon-root {
        color: red;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        fill: rgb(230 140 199);
        font-size: 1.5rem;
    }


.headerforcards{
    padding: 0 20px 15px 20px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   border-bottom: 2px solid #f7f7f7   ;
}
.headerforcards p{
        color: #0A6AA6;

    font-size: 20px;
    padding: 0;
      text-transform: capitalize;
      font-family: "Fredoka";
    font-weight: 500;
}
.headerforcards .icon{
    font-size: 14px;
}
/* تخصيص عرض الشريط */
::-webkit-scrollbar {
    width: 10px; /* عرض الشريط */
    height: 10px; /* في حالة استخدام الشريط الأفقي */
}

/* تخصيص لون الشريط */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* لون خلفية الشريط */
}

/* تخصيص لون المقبض (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #a9ccdf62; /* لون المقبض */
    border-radius: 10px; /* جعل المقبض دائريًا */
}

/* تخصيص لون المقبض عند التمرير فوقه */
::-webkit-scrollbar-thumb:hover {
    background-color: #a9ccdf; /* تغيير اللون عند التمرير */
}
@media(max-width:767px){
     .cards{
        position: absolute;
        top: 50px;
        right: -30px; 
        background-color: white;
        box-shadow: 0 4px 20px rgba(10, 106, 166, 0.2);
        width: 340px; 
        padding: 10px;
        z-index: 1000; 
        padding: 20px 0px;
        max-height: 400px;
       overflow-y: auto;
  overflow-x: hidden;
        z-index: 1000000000000000;
        user-select: none;
       }
}
@media(max-width:899px){
    .profileNav {
   box-shadow: 0px 0px 11px 0px #00000036;
   padding-top: 15px;
   padding-bottom: 15px;
   display: flex;
   justify-content: center;
   align-items: center;

    }

}

@media(max-width: 903px) {
    .menu-icon {
        display: block; 
    }
    .profileNav {
      display: flex;
      justify-content: space-between;
    }
    .profileNav ul li:not(.nofitication) {
        display: none;
    }
}