.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;

  }
  .calendar-container .day-name{
    text-align: center !important;

  }
  
  .calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    /* text-align: center; */
    font-weight: bold;
    color: #3C3C434D;
    margin-bottom: 10px;
    font-size: 22px;
      font-family: "poppins";
  }

  
 
  .calendar-dates {
    cursor:default;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
      font-family: "poppins";
  }
  
  
    .calendar-container  .date {
      font-weight: 600;
    cursor:default;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 14px;
    color: #000000;
    font-size: 22px;
      font-family: "poppins";
  }


  .date.today {
    cursor: default;
    text-align: center;
    background-color: #e68cc7;
    color: white;
    font-weight: bold;


      font-family: "poppins";
  }
  @media(max-width:767px){
    .calendar-container .date{
      font-size: 19px;
    }
    .calendar-header {
      font-size: 18px;
    }
    .date.today {
      background-color: #F488B8;
      color: white;
      font-weight: bold;
      width: 70%;
      margin-left: 30%;
    }

  }
  @media(min-width:1200px){
    .calendar-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 75%;
      text-align: center;
      font-weight: bold;
      color: #3C3C434D;
      margin-bottom: 10px;
      font-size: 22px;
    }
  
    
   
    .calendar-dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px;
      width: 75%;
    }

  }