.medicine-page-container {
  color: black;
  width: 70% ;
  /* border: 2px solid #F3F2F2; */
  margin: 10px auto;
  padding: 46px 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




.title-reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
    color: #0A6AA6;
   font-family: "Fredoka";
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.title-reminder  h2{
  font-weight: 500;
}

.title-reminder div {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(180deg, #418FBF 0%, #948EC3 50%, #E68CC7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
   font-family: "Fredoka";
}

.title-reminder div:hover {
  background: linear-gradient(180deg, #185eb9 0%, #6A5ACD 50%, #d0507f 100%);
}

.title-reminder div::before {
  content: '';
  position: absolute;
  width: 84%;
  height: 84%;
  background: white;
  border-radius: 50%;
  z-index: -1;
  cursor: pointer;
}

.title-reminder .content {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-right: 10px;
  position: relative;
  font-size: 25px;
  font-weight: 600;
  color: #0093D8;
  z-index: 10000000000;
  cursor: pointer;
  padding: 1% 2%;
  transition: color 0.3s ease;
}
 */width: 50px;
 height: 50px;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 color: white;
   z-index: 1000;
   color: #0A6AA6;
     font-size: 25px;
      display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}
.title-reminder .content span{
  display: inline-block;
  margin-top: -4px;
}

.title-reminder .content:hover {
  color: #0A6AA6;;
}

.msg-noadd {
 color:  #3C3C434D;
  text-align: center;
  padding: 6% 3%;
  font-size: 25px;
   font-family: "Fredoka";
     font-weight: 400;
}

.medicine-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 10px;
  margin: 3% 0;
  width: 100%;
}

.medicine-list li {
  cursor: pointer;
  background-color: #A2D2E540;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 95%;
  border-radius: 20px;
  padding: 15px 0;
  transition: 0.3s;
   font-family: "Fredoka";
}
.selection-medicine{
 font-family: "Fredoka";
  display: grid;
  grid-template-columns: 1fr 1fr;
 
  gap: 10px;
  margin: 3% 0;
  width: 100%;

}
.selection-medicine .selection-med{
   font-family: "Fredoka";
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  padding: 15px 0;
  transition: 0.3s;

 height: 130px;
            background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0     40%, #e5e5e5 48%);
 
     animation: load 2s infinite;
    -webkit-animation: load 2s infinite; 
    background-position: 100% 0;
    background-size: 200% 100%; /* حل المشكلة */
  
}
@keyframes load {
    100% {
      background-position: -100% 0;
    }
  }
  @media(max-width:767px){
    .selection-medicine{
 font-family: "Fredoka";
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
 
  gap: 10px;
  margin: 3%  auto;
  width: 100%;

}
.medicine-page-container{
  width: 90% !important;
  margin: 0 auto;

}

  }



.medicine-list li:hover {
   font-family: "Fredoka";
  transform: scale(1.1);
}

.medicine-list img {

  width: 100%;
}

.medicine-list li h4 {
   font-family: "Fredoka";
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}

.medicine-list .time {
  color: #777777;
  font-size: 18px;
  justify-content: start;
     font-family: "Fredoka";
}

.medicine-list li div div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.material-icons {
  color: #777777;
  margin-right: 2%;
}

.check {
 

    /* margin: 0%; */
    margin-right: 10px;
    cursor: pointer;
}
.check:hover{
 color:  green;
}
 



.check.checked {
  color: green;
}

.medicine-list .deleteicon {
  fill: rgb(217, 99, 99); 
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
  font-size: 30px;
  width: 50px;
}

.medicine-list .deleteicon:hover {
  fill: #c60049;
  transform: scale(1.1);
}

.del-check-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 0 20%;
  height: 80%;
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding:  30px 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  color:#F488B8;
  width: 400px;
  height: 150px;
  text-align: center;
  transition: transform 0.4s ease;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-self:center;
}

.confirmation-dialog.show {
     box-shadow: 0 4px 20px rgba(10, 106, 166, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.confirmation-dialog p {
  font-size: 19px;
  margin-bottom: 15px;
}

.confirmation-dialog button {
  margin: 0 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-dialog button:first-of-type {
  background-color: #a32a56;
  color: white;
  transition: background-color 0.3s ease;
}

.confirmation-dialog button:last-of-type {
  background-color: #c2bcbc;
  color: white;
  transition: background-color 0.3s ease;
}

.confirmation-dialog button:first-of-type:hover{
  background-color: #82002d;
}
.confirmation-dialog button:last-of-type:hover {
  background-color: #838181;
}

.medicine-page-container .spinner-small{
  width: 13px;
    height: 13px;
    margin-left: 0px;
}
@media (max-width: 767px) {
  .title-reminder .content {
    width: 40px;
    height: 40px;
  }
  .medicine-page-container h3:not(.msg-noadd){
    padding: 0 20px;
  }
  .msg-noadd{
    padding: 10% 3% !important;
  }
  .title-reminder{
    padding: 20px 20px;

  }
  .medicine-page-container {
      padding: 25px 1% !important;
      border: none !important;
  }
  .title-reminder .content {
    font-size: 21px;
    padding: 1% 2.5%;
  }

  .medicine-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      width: 100%;
  }

  .medicine-list li {
      margin-left: auto;
      margin-right: auto;
  }
  .title-reminder div::before {
    width: 82%;
    height: 82%;
  }
  .confirmation-dialog.show {
   
    pointer-events: auto;
}

.confirmation-dialog {
    position: fixed;
    width: 95%;
    height: 150px;
    top: 50%;
    left: 0%;
    /* margin: 0 3%; */
}
.confirmation-dialog p {
  font-size: 21px;
}
}

@media(max-width:1000px){
  .medicine-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

}

@keyframes fadeOutMedicine {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}
/* .fade-out-medicine {
  animation: fadeOutMedicine 0.5s forwards;
} */
