.videos-container {
    text-align: center;
    padding: 20px;
}

.videos-logo {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  padding: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}
.videos-logo::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
.channel-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.channel-card ,
.channel-card-load {
  flex: 0 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  scroll-snap-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
/* Indicator container */
.dots-indicator {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

/* Single dot */
.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

/* Active dot */
.dot.active {
  background-color: #0A6AA6;
}
.channel-card-load{
    padding: 20px 0;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0     40%, #e5e5e5 48%);
    animation: load 2s infinite;
   -webkit-animation: load 2s infinite; 
   background-position: 100% 0;
   background-size: 200% 100%; 

}
@keyframes load {
    100% {
      background-position: -100% 0;
    }
  }
.channel-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}


.channel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.channel-card.active {
    border: 4px solid #F488B8;
    padding: 5px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.videos-cards {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.video-card{
    margin:  0 auto;
    cursor: pointer;
    text-align: center;
    max-width: 350px;
    overflow: hidden;
    /* opacity: 0; */
    transform: translateY(50px);
    animation-fill-mode: both;
    /* animation: slideUp 0.3s ease-out forwards; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;


}
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.video-card-loading{
    margin:  0 auto;
    cursor: pointer;
    text-align: center;
    max-width: 350px;
   background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0     40%, #e5e5e5 48%);
   animation: load 2s infinite;
   -webkit-animation: load 2s infinite;
   border-radius:16px ;
   background-position: 100% 0;
   background-size: 200% 100%;
   width: 350px;
   height: 200px;
   -webkit-border-radius:16px ;
   -moz-border-radius:16px ;
   -ms-border-radius:16px ;
   -o-border-radius:16px ;
}

.video-thumbnail {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s;
}
.video-card img{
    width: 100%;
}

.video-thumbnail:hover {
    transform: scale(1.05);
}

.video-player {
    margin-bottom: 20px;
}
.videos-cards h3{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bg-imges{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.imgbg{
    display: flex;
    justify-content: right;
    z-index: 1000;
}
.imgbg img{
    width: 75%;
}
.imgbg2{
    display: flex;
    justify-content: left;
    z-index: 1000;
}

.imgbg2 img{
    width: 75%;
}

.titlevideo{
    display: flex;
    flex-direction: column;
    color: #F488B8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
}
.titlevideo h3{
    font-size: 40px;
}
.titlevideo p{
    margin-bottom: 5%;
    color: #f488b9cf;
}


@media (max-width: 1068px) {
  .videos-logo {
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 10px 5px;
    scroll-snap-type: x mandatory;
  }

  .channel-card {
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  /* شكل Scrollbar */
  .videos-logo::-webkit-scrollbar {
    height: 6px;
  }

  .videos-logo::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }
  

}

