
.cry-detalis{
    margin-top: -80px;
    margin-bottom: 50px;
}
.cry-detalis .cont 
{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cry-detalis .cont .text {
    color: black;
    /* max-width: 100%; */
    text-align: start;
}
.cry-detalis .cont .text h2{
    width: 500px;
 
       color: #0A6AA6;
    font-family: "poppins";
  
    padding-bottom: 20px;
}
.cry-detalis .cont .text p{
    font-size: 20px;
    width: 100%;
    color: #777;
    line-height: 1.8;
    margin-bottom: 25px;

}
.cry-detalis .cont .text img{
    /* width: 70%; */
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
.cry-donlowad .cont  .img{
    position: absolute;
    right: 10%;
}
.cry-detalis .cont  .img img{
    width: 500px;
}
.cry-donlowad .cont{
    
    display: flex;
    justify-content:center;

 
    
    
}

 .custom-shape-divider-top-1750359744 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.custom-shape-divider-top-1750359744 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1750359744 .shape-fill {
    fill: #5a3a3a;
}
.custom-shape-divider-top-1750359858 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.custom-shape-divider-top-1750359858 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 500px;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.custom-shape-divider-top-1750359858 .shape-fill {
    fill: #f4fbfd;
}


.crydownload{
    position: relative;
    height: 500px;
}
.crydownload .cont{
 display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
 
}
.crydownload  .cont .text{
    text-align: start;
}

.crydownload  .cont .text h2{

 
       color: #0A6AA6;
    font-family: "poppins";
  
    padding-bottom: 20px;
   
}
.crydownload .cont .text p{
   font-size: 20px;
    width: 100%;
    color: #777;
    line-height: 1.8;
    margin-bottom: 25px;
    
}
.crydownload .imgdonlowd img{
    width: 600px;
}
.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 2;
}

.crydownload > *:not(.svg-background) {
  position: relative;
  top: 16%;
  z-index: 2;
}
.imges-buttonn{
    padding: 10px;
    display: flex;
    justify-content: center;
   
    gap: 30px;
    
}
.imges-buttonn img{
    width: 160px;
}


@media(max-width:1145px){
    .cry-detalis {
        margin-top: 20px;
    }
      .crydownload{
        margin-bottom: 150px;
      }
      .crydownload .imgdonlowd img {
    width: 450px;
}
.crydownload > *:not(.svg-background) {
  position: relative;
  top: 10%;
  z-index: 2;
}
    .cry-detalis .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .cry-detalis .cont .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        color: black;
    }
    .cry-detalis .cont .text h2{
        width:auto;
    }
    .cry-detalis .cont .text p {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .cry-detalis .cont .img img{
        width: 100%;
    }

}

@media(max-width:1200px){
    .cry-donlowad .cont .text{
      display: none;
    }
    .free-trial{
        font-size: 18px;
        width: 60px;
        height: 60px;
        right: 18%;
        top: 60%;
    }
    .free-trial span{
        font-size: 11px;
        position: absolute;
        display: block;
        left: 9%;
    }
    .cry-donlowad .cont  .img{
        top: 80%;
    }
    .cry-donlowad .cont  .img img{
        width: 100px;
       
    }
    .textt{
       display: block;
        left: 50%;
        transform: translateX(-50%) ;
        -webkit-transform: translateX(-50%) ;
        -moz-transform: translateX(-50%) ;
        -ms-transform: translateX(-50%) ;
        -o-transform: translateX(-50%) ;
}
    .cry-donlowad .cont{
        margin-top: 200px;
    }
}
@media(max-width:970px){
    .crydownload > *:not(.svg-background) {
  position: relative;
  top: 0%;
  z-index: 2;
}
/* .crydownload {
    padding-bottom: 1000px;

} */
   .crydownload .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .svg-background svg {
  width: 100%;
  height: 650px; 
}
}

@media (max-width: 550px) {
       .crydownload .imgdonlowd img {
        width: 300px;
    }
        .svg-background svg {
  width: 100%;
  height: 500px; /* 👈 زوّدي الرقم حسب ما تحبي */
}
}

