
.growth-chart{
    padding-bottom: 80px;
}
.growth-chart .cont{
    display: flex;
 gap: 200px;
}



.growth-chart .cont .text{
  
    color: black;
    text-align: start;
    max-width: 100%;
}
.growth-chart .cont .text h2{
     color: #0A6AA6;
      font-family: "Fredoka";
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: start;
    font-weight: 500;
}
.growth-chart .cont .text p{
    padding-bottom: 10px;
       font-family: "Fredoka";
}
.growth-chart .cont .text  p{
       font-family: "Fredoka";
    color: #777;
    font-size: 19px;
    line-height: 1.8;
}
.growth-chart .cont .img{
    position: relative;
}
.growth-chart .cont .img .chart{
    width: 260px;
   box-shadow:   0px 11px 8px 5px #00000014;
}
.frame{
    width: 220px;
    position: absolute;
    right: 50%;
    top: 35%;
    border: 1px solid #6ac2de;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow:   0px 11px 8px 5px #00000014;
}
.imges-buttonn{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    /* justify-content: center; */
   
    gap: 30px;
    /* align-items: center; */
}
.imges-buttonn img{
    width: 160px;
}
@media(max-width:1009px){
        .growth-chart .cont{
                 display: flex;
        flex-direction: column;
        align-items: center;
     gap: 100px;

    }
    .growth-chart .cont .text{
        order: 2;
    }
    .growth-chart .cont .img .chart{
    /* width: 360px; */
   box-shadow:   0px 11px 8px 5px #00000014;
}

}
@media(max-width:767px){
    .growth-chart .cont{
        display: flex;
        flex-direction: column;
        align-items: center;
     gap: 100px;
    }
    .imges-buttonn{
        padding: 10px;
        display: flex;
        /* justify-content: center; */
       
        gap: 30px;
        /* align-items: center; */
    }
    .imges-buttonn img{
        width: 150px;
    }
    .growth-chart .cont .text{
        order: 2;
        width: auto;
        color: black;
    }
    .frame{
        width: 150px;
        position: absolute;
        right:55%;
        top: 40%;
        border: 1px solid #6ac2de;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        box-shadow:   0px 11px 8px 5px #00000014;
    }
 
}
