.welcome{
    background-image: url("../../assets//welcomeee.jpg");
   
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
}

.welcome .text{
    text-transform: capitalize;
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 40%;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    text-align: center;
}

.welcome .text h1{
    font-family: "Fredoka";
    font-weight: 500;
  line-height: 1.2;
  color: #0A6AA6;
}
.welcome .text button{
    margin-top: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid  #F488B8;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    color: #F488B8;
    background-color: transparent;

 
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    margin: 20px auto;
}
.welcome .text button:hover{
    transform: scale(1.1) !important;
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    -o-transform: scale(1.1) !important;
    background-color:#F488B8;
}

.welcome .text button:hover a{
    color: white;
}
.welcome .text button a{
    text-align: center;
    text-decoration: none;
    color: #F488B8;
}
@media(max-width:767px){
    .welcome{
        background-image: url("../../assets/mo.jpg");
       background-position: left;
        background-size: cover;
        height: 600px;
        width: 100%;
        position: relative;
    }
   
    .welcome .text {
        font-size: 14px;
        text-transform: capitalize;
        max-width: 250px;
        position: absolute;
        left: -1.2%;
        bottom: -10px;
        animation: none !important;
        opacity: 1;
        -webkit-animation: none !important;
}


}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

ul {
    list-style: none;
}

.cont {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .cont {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .cont {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .cont {
        width: 1170px;
    }
}




