.RemindersLanding{
    position: relative;
    padding: 0;
    /* background-color: #ffebeb70; */
    margin: 50px 0;
 }
 .RemindersLanding .cont{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    align-items: center;
 }
   .RemindersLanding .cont .imges{
    display: flex;
    justify-content: center;
   }
  .RemindersLanding .cont img{

    width: 450px;
    margin: 0 auto;
  }
  .RemindersLanding .cont .text{
    box-sizing: border-box;
    max-width: 100%; 
  }
  .RemindersLanding .cont .text h2{
    /* font-size: 23px; */
    color: #0A6AA6;
    font-family: "poppins";
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: start;
  }
   .RemindersLanding .cont .text p{
    text-transform: capitalize;
   text-align: start;
    width: 100%;
    font-size: 19px;
    /* line-height: 30px; */
    color: #777;
    margin-bottom: 25px;
       
    color: #777;
    line-height: 1.8;
   }
   .RemindersLanding .cont .steps{
    display:  flex;
    gap: 50px;
    justify-content: center;
   }
    .RemindersLanding .cont .iconstep{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 60px;
        color: black;
        font-size: 33px;
        padding: 10px;
        border: 2px solid #0A6AA6;
        box-shadow: 0 4px 20px rgba(10, 106, 166, 0.2);

        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        color:#F488B8;
}
/* .custom-shape-divider-top-1750274113 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
} */
@media(min-width:300px ) and (max-width:550px){
    .RemindersLanding .cont img {
    width: 300px;
    margin-left: 50px;
    margin-bottom: 25px;
}
  


}
@media(max-width:767px){
        .RemindersLanding  .cont{
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
    .RemindersLanding .text{
 
        text-align: center !important;
        margin: 0 !important;
    }
       .RemindersLanding .text p{
        text-align: center !important;
       }
}
/* 
.custom-shape-divider-top-1750274113 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1750274113 .shape-fill {
    fill: #dcdcdc4a;
} */
