.welcome-page{
    
    font-family: "Fredoka";
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left :8%;
  position: relative;
    color: black;
}
.welcome-page::after{
    position: absolute;
    content: "";

    bottom: 0;
    background-color:#DCDCDC;
    width: 80%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%); 

}
.welcome-page .welcome-text{
    width: 400px;
}
.welcome-page h2{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}
.welcome-page h3{
    width: 50%;
    font-size: 25px;
    font-weight: 500;
}
.welcome-page h2 span{

    text-transform: capitalize;
    color: #F488B8;
}
/*features*/
.all-features{
    padding: 30px 10px;
  
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
 justify-content: space-between;
}
.all-features div{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 25px;
}
.all-features div img{
    padding: 7px;
    /* border-radius: 50%; */
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.all-features div.active img{
    border-radius: 50%;
    outline: 2px solid #e68cc7;
    padding: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.all-features div img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.all-features div a{

    text-decoration: none;
 color: #7E7D7D;
 text-transform: capitalize;
}
.all-features div a h4{
    padding-top: 9px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
/*
baby card 
*/
.babies-slider{
    padding-left: 3%;
    width: 600px;
    padding-bottom: 30px;
 
}
.babies-slider .text{

    font-size: 30px;
    padding-bottom: 20px;
 width: 600px;
 /* padding: 20px 10px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
     font-family: "Fredoka";
}
.babies-slider .text h3{
       font-family: "Fredoka";
  color: #0A6AA6;
    font-weight: 500 ;
    text-transform: capitalize ;
}
.babies-slider .text button{
    font-family: "Fredoka";
  
  padding: 10px 35px;
  font-size: 19px;  border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #F488B8;
    text-transform: capitalize;
    color: white;
    border: 1px solid #F488B8;
    text-align: center;
}
.babies-slider .text button a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.babycard{
    text-transform: capitalize;
    margin-bottom: 20px;

display: flex;
align-items: center;
    
    border-radius: 16px;
    padding: 25px 20px;
border: .5px solid #ddd;





    width: 600px !important;
   
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


  .babyslide {
  text-transform: capitalize;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 25px 20px;
  width: 600px !important;
  height: 120px;

     background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0     40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 2s infinite;
}

@keyframes load {
    100% {
      background-position: -100% 0;
    }
  }

.babycard .basic-info{

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: calc((600/3 )*100%);
}
.babycard .basic-info:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: #DDDDDD;
    right:10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.babycard .names{
    display: flex;
    align-items: center;
    gap: 20px;
}
.babycard .names h5{
    font-family: Fredoka;
    font-weight: 500;
    color: rgb(0, 147, 216);
    font-size: 29px;
    text-transform: capitalize;
}
.babycard .measuerments{
  
    text-align: center;
    justify-content: center;
    
    display: flex;
    gap: 30px;
    position: relative;
    width: calc((600/3 )*100%);
}
.babycard .measuerments::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background-color: #DDDDDD;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.babycard .measuerments .weight{
    gap: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.babycard .measuerments .height{
    gap: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.baby-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
  
}
.baby-options button{
    transition: 0.3s;
    text-transform: capitalize;
    background-color: white;
    height: 30px;
width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    outline: none;
    text-shadow: none;
    border:  1px solid white;
}
.baby-options button a{
    text-decoration: none;
}
.baby-options button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.num-of-reminders {
    padding-left: 2%;
   
    text-align: center;
    gap: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;


}

.babycard .measuerments .cm,
.babycard .measuerments .kg,
.remind{
    font-weight:500 ;
    font-family: Fredoka;


}
.babycard .age{
    font-weight:500 ;
    font-family: Fredoka;
}
.slick-slider{
   
    width: 600px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 50px;

}
.media-responseve{
    display: none;
}

.slide {
  
    display: flex;
    flex-direction: column; 
    gap: 50px; 
}
.slick-dots {
    left: -7%;
    position: absolute;
    bottom: -15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
   padding-left: 7%;
}

.babyies-crying{
    margin-top: -20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cryinghome{
    margin-top: 25px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    

}
.cryinghome img{
width: 550px;


}
.cryinghome .text{
    
    z-index: 10000;
    width: 300px;
    position: absolute;
    right: -20px;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.cryinghome .text h3{
    padding-left: 20px;
   
    font-size: 30px;
    font-family: Fredoka;
    color: #e68cc7;
    text-transform: capitalize;
    font-weight: 500;
}
.cryinghome .text button{
  
      
  padding: 10px 35px;
  font-size: 19px;  border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #e68cc7;
    text-transform: capitalize;
    color: white;
    border: 1px solid #e68cc7;
    text-align: center;

}


.slier-mobile{
    display: none;
}
@media(max-width:767px){
    .all-features{
        display: none;
    }
    .slier-all{
        display: flex;
    }
    .slier-mobile{
        display: block;
    }

}
.no-babies{
    padding-top: 50px;
    text-transform: capitalize;
    font-size: 25px;
    color: #7E7D7D;
    text-align: center;
}
/*features*/
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
          font-family: "Fredoka";
          font-weight: 400;
}
.feature h4{
    font-weight: 500;
}
.feature img{
    border-radius: 50%;
    outline: 2px solid white;
    padding: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.swiper-wrapper{
    overflow-y:visible !important;
    width: 100%;
padding-top: 10px;
    padding-bottom: 35px;
    justify-content: space-between;
 
}


.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    top: 10;
  
}
.features-container{
    overflow-y:visible;
    padding-top: 15px;
  width: 80%;
    margin: 0 auto;
}


.features-container .active img{
    border-radius: 50%;
    outline: 2px solid #e68cc7;
    padding: 5px;
 
}
.features-container div img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


  /*crylist and sounds*/
  .lastrecord{
     margin-top: 6%;
     padding: 15px 15px 5px 15px;
    border: .5px solid #ddd;
        border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 4px 20px rgba(10, 106, 166, 0.2);
    cursor: default;
 
}
.lastcry-header{

    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
  .lastrecord h2{
          font-family: "Fredoka";
  color: #0A6AA6;
  font-weight: 500;
  }
  .lastcry-header p{
        font-family: "Fredoka";
  
    color: white;
    text-align: center;

}
.rotate-symbolsdiv{
    display: flex;
    gap: 5px;
    background-color: #f488b8;
    padding: 10px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
}
.rotate-symbolsdiv:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: #fa79b3;
}
.resultlastcry{
       padding: 20px;

    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 0;
}
.resultlastcry img{
    width: 40px;
    height: 40px;
}
.resultlastcry p{
        font-family: "Fredoka";
        color: black;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
        font-size: 19px;

}
.no-cry{
         font-family: "Fredoka";
        color: #777;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
       
        margin: 20px 0;
       

}
.resultlastcry span{
    font-family: "Fredoka";
    display: flex;
    justify-content: center;
    align-items: center;
    color:#777;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}

.resultlastcry .rhap_container{
    box-shadow: none;
    padding: 10px;
    background-color: transparent;
    padding: 0;
}
.resultlastcry .rhap_progress-section{
    display: none;
}
.resultlastcry .rhap_controls-section{
    flex: none;
    margin-top: 0;
    width: fit-content;
}
.resultlastcry path{
    color: #0A6AA6;;
}
.resultlastcry .lastrecorded{
    align-self: center;
    gap: 10px;
    display: flex;
    width: 35%;
    padding: 5px 10px;
    background-color: #d2d2d251;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
}
.lastrecordfooter{
    background-color:   #a1d2e6;
    padding: 10px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-align: center;
    font-weight: 600;
    
    font-family: "Fredoka";
}
.rotate-symbols {
  display: flex;
  gap: 3px;
  align-items: center;
  font-size: 10px;
  transform: rotate(100deg);
  /*ديالليبتخليهميتقلبوا*/:;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(100deg);
  -ms-transform: rotate(100deg);
  -o-transform: rotate(100deg);
}
.sleepsounds{
       padding: 15px;
       display: flex;
       /* justify-content: space-between; */
       gap: 50px;
       box-shadow: 0 4px 20px rgba(10, 106, 166, 0.2);
       border-radius:8px ;
       -webkit-border-radius:8px ;
       -moz-border-radius:8px ;
       -ms-border-radius:8px ;
       -o-border-radius:8px ;
       border: .5px solid #ddd;
}
.sleepsounds img{
    width: 150px;
    height: 150px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.sleepsounds h2{
            font-family: "Fredoka";
  color: #0A6AA6;
  font-weight: 500;


}
.sleepsounds .text{
    width: 60%;
    margin: 0 !important;
}  
.sleepsounds p{
     font-family: "Fredoka";
    color: #777;
    margin-top: 15px;
}
.sleepsounds  span{
    display: inline-block;
 
margin-top: 10px;
    padding: 10px 20px;
 
    border-radius: 8px;
    background-color:   #F488B8;
    font-family: "Fredoka";
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
     font-family: "Fredoka";
    
}
.soundcry{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
 .resultlastcry .lastrecorded .rhap_container svg{
    width: 30px;
 }
/*responsive*/
@media(max-width:929px){
    .features-container{
        padding-top: 30px;
        width: 95%;
        margin: 0 auto;
    }
    .welcome-page h3{
        width: 100%;
    }
    

}
@media(max-width:500px){
    .feature{
        width: 100px;
    }
    .feature img{
    width: 80px;
    }
    .feature h4{
        text-align: center;
        font-size: 14px;
    }
}
@media(max-width:676px){
    .babycard{
        padding: 25px 10px;
    }
    .babycard .age{
    font-size: 13px;
    padding-left: 0 !important;
}
    .slick-slider{
        margin: 0 auto;
   
        width: 380px !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 50px;
    
    }
    .babies-slider .text{
        margin: 0 auto;
        width: 380px;
        padding: 20px 10px;
    }
    .babycard{
      
        width: 380px !important;
    }
    .babycard div{
       max-width:calc((400 / 3)* 100%) !important;
    }
    .lab{
        display:none;
    }
    .media-responseve{
        display: block;
        width: 100% !important;
        border: none;
        background-color: transparent;
        font-size: 30px;
  
    }
    .slick-slide img{
        width: 20px;
    }
    .babycard .names h5 {
        font-size: 10px;
        word-break: break-all;
        padding-right: 3px;
    }
    .babycard .names{
     gap: 7px;
        flex-wrap: wrap;
    }
    .babycard .basic-info:after {
        right: 8px;
    }
    .babycard .measuerments {
        font-size: 12px;
        text-align: center;
    justify-content: start;
  
        gap: 10px;
        gap: 15px;
        position: relative;
        width: calc((600 / 3)* 100%);
    

}
.babycard .measuerments::after {
    right: -15%;
}
.babycard .measuerments .weight{
    gap: 10px;
}
.babycard .measuerments .height{
    gap: 10px;
}
.num-of-reminders{
    margin-right: 5%;
    font-size: 12px;
}
.babyies-crying{
    margin-top: 35px !important;
}
.babies-slider .text button{
    padding: 7px;
}
.babies-slider{
    padding-left: 0;
}    .soundcry{
    display: flex;
    flex-direction: column;
   
    width: 90% !important;
    margin: 0 auto;
}
.sleepsounds img{
    width: 130px !important;
    height: 130px !important;
}
.sleepsounds{
    gap: 7px;
    align-items: center;
    justify-content: space-between;
}
.resultlastcry{
   margin-top: 20px;
}
.resultlastcry .lastrecorded{
    width: 100%;
    padding: 3px ;
}
 .resultlastcry .lastrecorded .rhap_container svg{
    width: 30px;
 }
.sleepsounds p{
    font-size: 12px;
}
.sleepsounds span{
    padding: 10px 7px;
}
.lastrecord{
    padding-left: 10px;
    padding-right: 10px;
}
.resultlastcry p{
    font-size: 12px;
}


}
@media(max-width:1188px){
    .soundcry{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}
.slick-slider{
    width: 90% !important;
    margin: 0 auto;
}
.babyslide{
       width: 90% !important;
    margin: 20px auto;

}
.babycard{
    width: 100% !important;
}
.babies-slider{
    width: 90% !important;
}

.sleepsounds img{
    width: 200px;
    height: 200px;
}
.sleepsounds .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
}
 /*loader*/
 .loader-cryinghome{
         margin-top: 5%;
     padding: 15px 20px 0px 20px;
    border: .5px solid #ddd;
        border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 4px 20px rgba(161, 161, 161, 0.2);
 

 }
  .loader-cryinghome .historyp{
    height: 20px;
    width: 20%;
       background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    animation: load 2s infinite;
    -webkit-animation: load 2s infinite;
    background-position: 100% 0;
    background-size: 200% 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .resulitloadercryhome{
        height: 30px;
    width: 50%;
    margin:  20px auto;
       background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    animation: load 2s infinite;
    -webkit-animation: load 2s infinite;
    background-position: 100% 0;
    background-size: 200% 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

  }
  .footerloadercryhome{
          height: 40px;
    width: 100%;
    margin:  20px auto;
       background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    animation: load 2s infinite;
    -webkit-animation: load 2s infinite;
    background-position: 100% 0;
    background-size: 200% 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

  }
  @keyframes load {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
/*error fetch*/
.error-cry {
  color: red;
  text-align: center;
  margin: 20px 0;
}

