.Dashboard{
    background-color: #80808017;
    background-color: #f5f7fabd;
  background-color: #EEECF2;
    display: flex;
  gap: 250px !important;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin-left: 280px; 
    position: relative;
    
   
    
}
.Dashboard .outlit{
  margin-top: 15px;

    margin-left: 3%;
    width: 95%;


}