.AddTip{
    width: 600px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px 0px #62558129;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 10000000000000000000000000 !important;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}



.AddTip .header{
    display: flex;
    justify-content: center;
}
.AddTip .header h2{
    text-transform: capitalize;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0A6AA6;
    font-weight: 600;
}
.AddTip  .close{
    margin-top: -8px;
    position: fixed;
    left: 45px;
    
    color: white;
    width: 20px;
    height: 20px;
    background-color: #F488B8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    
}
.AddTip .tipoptions {
    margin: 38px 0;
    border: 1px solid #E5E3EB;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    gap: 8px;
    height: 43px;
   padding: 25px 10px;
}
.AddTip .tipoptions button {
    margin-top:-20px;
    height: 40px;
    width: 50%;
    padding: 0 16px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid #0A6AA6;
    color: #0A6AA6;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: white;
    outline: none;
    box-shadow: none;

}
.AddTip .tipoptions button.active{
   background: #F488B8;
   border: 1px solid #F488B8
    ;
    color: white;
}
.headerUpload{
    color: #0A6AA6;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 600;
}
.firstpart{
    display: flex;
    justify-content: space-between;
 
    gap: 10px;
}
.art {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.art div{
    position: relative;
}
.secondpart{
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.secondpart div{
  
    position: relative;

}
.art p,
.secondpart p{
    position: absolute;
    left: 3%;
    color: #0A6AA6;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    top: 46%;
    transform: translateY(-46%);
    -webkit-transform: translateY(-46%);
    -moz-transform: translateY(-46%);
    -ms-transform: translateY(-46%);
    -o-transform: translateY(-46%);
    
}
.art  input[type="text"] ,
.secondpart input[type="text"],
.tip-content input[type="text"]{
    height: 48px;
  width: 100% !important;
  border: 0.5px solid #0A6AA6CC;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}






.art label,
.headertargert{
    color: #0A6AA6;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
.tiplists{
    border: 0.5px solid #0A6AA6CC;
    padding: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.tiplists .slick-slider{
    width: 100% !important;

}
.tip-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.tip-numbers span{
    font-family: "Poppins";
font-weight: 600;
font-size: 20px;
color: #0A6AA6;

}
.tip-numbers button{
    width: 110px !important;
height: 51px;
border-radius: 8px;
gap: 8px;
border-width: 1px;
padding: 16px;
background-color: #F488B8 !important;
border: 1px solid #F488B8 !important;
font-family: "Poppins";
font-weight: 700;
font-size: 12px !important;
display: flex;
justify-content: center;
align-items: center;

color: white !important;

}
.tip-content  div{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tip-content label{
    color: #0A6AA6;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.tip-content textarea{
    border-color:  #0A6AA6CC !important;
    padding: 12px 15px;
    width: 100% !important;
    height: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.art  input:focus,
.tip-content input:focus{
outline: none;
  border: 0.5px solid #0A6AA6CC;

}
.art  input::placeholder,
.secondpart input::placeholder,
.defultoption{
    padding: 0 !important;
    font-size: 13px !important;
    font-family: 'Poppins', sans-serif !important;
color: #B4B0BFCC !important;
font-weight: 600;
}
.Article-flex{
    display: flex;
    align-items: center;
    gap: 10px;

}
.art select{
    height: 47px;
    border: 0.5px solid #0A6AA6CC;
   padding-left: 10px;
    width: 100% !important;
    margin-bottom: 0 !important;


}
.ArticleTarget{
    border-radius: 8px;
    height: 48px;
    border: 0.5px solid #0A6AA6CC;
    padding: 16px 10px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.AddTip .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.AddTip  button{
    border: 0.5px solid #0A6AA6;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
    height: 40px;
    width:150px;
    text-align: center;
    background-color: white;
    font-size: 16px;
    color: #0A6AA6;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px !important;
}

.slick-arrow{
    display: none !important;
}


.upload-container {
    display: flex;
    align-items: center;
    width: 100%;
 
  
  }
  
  .dropzone {
    margin-top: -25px;
    border: 2px dashed #0A6AA6;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: #f8f9fa;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .dropzone:hover {
    background: #eef1f5;
  }
  
  .dropzone img {
    width: 97px;
    height: 97px;
    
  
  }
  @media (min-width: 300px) and (max-width: 600px) {
    .AddTip {
        width: 95%;
        padding: 20px 10px;
    }
    .ArticleTarget{
        padding: 0 !important;
     height: 65px;
    }
    .Article-flex{
       
        padding: 10px;
        flex-direction: column;
        gap: 10px;
    }
}
   @media (min-width: 610px) and (max-width: 904px) {
    .AddTip {
        width: 95%;
   
    }
 
} 


  

  
