.Chatbox{
    position: relative;
    height: 100%;
    
}
 .Chatbox .header{
    color: black;
    text-transform: capitalize;
    position: relative;
    padding: 20px ;
 }
 .Chatbox .header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 90%;
    background: rgba(110, 110, 110, 0.073);  
    box-shadow: 0 2px 4px rgba(0,0,0,0.10);
    width: 100%;
    height: 1px;
 }
 .writeMessage{
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 85%;
    display: flex;
    margin-left: 2px;
   

 }
 .existimges{
    top: 75%;
    transition: top 0.3s ease;
 }
 .voice{
 position: absolute;
 left: -20px;
 
}

 .writeMessage input{
    padding: 7px 20px;
 
    height: 50px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border: none;
    outline: none;
    box-shadow: none;
 


}
.writeMessage input:focus {
    outline: none;    
    border: none;     
    box-shadow: none;  
  }
  .writeMessage input::placeholder{
    color: #777 !important;
  }
  ::placeholder{
    color: #777 !important;
  }
.writeMessage .option{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    transition: transform 0.1s ease, background-color 0.2s ease;
  



    border-top-right-radius:5px  !important;
    border-bottom-right-radius: 5px !important; 
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.optionexistimg{
    align-items: end !important;
  padding-bottom: 5px;
}
.icon-option{
    color: #777;
}
.send-message{
  padding: 7px 7px;
  background-color: #edadd7;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.send-message .icon-option{
    font-size: 16px;
    color: white;
}
.chatArea{
    height: 460px;
    overflow-y: scroll;
}
.messagecard{
    padding: 5px 20px;
display: flex;
flex-direction: column;
}
.flex-img{
    display: flex;
   
    gap: 15px;
    position: relative;
}

.icondelete{
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #777;
    margin-top: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;
}
.icondelete:hover{
    background-color: #c6c6c633;
}
.messagecard img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.messagecard .messagecontent{
    cursor: default;
    background-color: #dddddd78;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px 20px;
}
.flex-img:hover .icondelete{
    display: flex;

}
.messagecard p{
    color: black;
}
.messagecard span{
    display: inline-block;
    font-size: 12px;
    color: #777777b1;
    margin: 5px 14px;
}
.father{
    flex-direction: row-reverse; 

}
.messagecontent.own{

  
    background-color: #E68CC7;
    color: white !important;
     align-items: flex-end;
    
}
.father .icondelete{
  margin-top: 7px !important;
}
.messagecontent.own p{
    color: white;
}
.ownpos{
    align-items: flex-end;
}
span.namesender{
    margin-left: 0;
}
.emoji-picker{
    position:  absolute !important;
    right: 0;
    top: -260px !important;
    right: 50px;
 
 
}
.emoji-picker .flex-column{
    height: 280px !important;
    background-color: white !important;
}

em-emoji-picker{
    height: 280px !important;
    background-color: white !important;
}

.send{
position: relative;
right: 1.5px;
}
.send button{
    background-color:#edadd7;
    border-radius: 3px;
    border: none;
    padding: 3px 5px;
    margin-right: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.sendre{
    background-color: white;
    display: flex;

    align-items: center;
    width: 4.3%;
    right: 0 ;
 
}
.sendre button{
  
}
.send button .se{
    margin-top: 2px;
    color: white;
    
}
  
#nav .bar{
    background-color: #e68cc7 !important;
}
.startrecord{
    background-color: transparent;
    outline: none;
    border: none;

}
.record{
    padding-right: 10px;
    margin-top: 10px;
    margin-left: -25px;
}
.div-record{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 100%;
 
    width: 100%;
}
.div-record button{
    background-color: transparent;
    border: none;
    outline: none;
}
.duration{
    padding-left: 10px;
    color: red;
}
.width{
  margin-top: -2px;
    background-color: white;
    margin-left: 8px;

   padding: 10px 15px;
 
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}
.st{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45px;
    margin-right: 15px;
}
.de{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #777 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-top: -2px;
}
.mic-icon,
.del-icon {
  margin-top: 8px;
  margin-right: 10px;
}
.mic-iconexistimg{
    display: flex;
    align-items: end;
    padding-bottom: 20px;
}
.del-icon .del{
    
    font-size: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    color: black;

}
.del-icon .del:hover{
   
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    color: rgba(255, 0, 0, 0.539);
}
 .mic{
  font-size: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: black;
}


.mic:hover {
 color:#edadd7;
 transform: scale(.95);
 -webkit-transform: scale(.95);
 -moz-transform: scale(.95);
 -ms-transform: scale(.95);
 -o-transform: scale(.95);
}
.progress{
  color: #edadd7;
  font-size: 14px;
}
  




   .recorder-container {
   
    background-color: white;
    overflow-x: auto;
    position: relative;
    /* left: 70px; */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 50px;
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
  }
  
  .audio-options {
  
    padding: 10px;
 height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
margin-top: 0px;
    
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; 
  }
  
  .pasue {
    background-color: transparent;
    border: none;
    box-shadow: none;


  }
  
  .pasue .icon-pause {
    font-size: 20px;
    color: #E68CC7;
  }
  
 
  #mic, #mic .wave {
    width: 500% !important;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: block; 
    box-sizing: border-box; 
  }
  
 
  #wavesurfer {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .recorder-container #mic {
    max-width: 100% !important;
    overflow: hidden; 
  }

.Chatbox .images{
    padding-left: 50px;
    margin-top:0 !important;
    position: relative;
    display: flex;
    gap: 5px !important;
    z-index: 1000000000000000;
}
.Chatbox .images img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
} 
.deleteimg{
    position: absolute;
    left: 4px;
    top: 7px;
}
.deleteimg svg{
    color: #E68CC7;
}
.imgaesaxists{
    background-color: white;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
   
    display: flex;
    flex-direction: column;
}
