.DashVideos .videos-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}
.DashVideos .pagination {
    margin-top: 30px;
  } 

.DashVideos{
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    margin-left: 2%;
}

.DashVideos .dashDel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}
.DashVideos .dashDel h3{
    color: #05314DCC;
}

.DashVideos .dashDel button{
    background-color: #F488B8;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.DashVideos .dashDel button:hover{
    background-color: #c26790;
}

.DashVideos .video-card img{
    margin-bottom: 3%;
}
.DashVideos .videos-cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    padding: 15px 0;
}

.DashVideos .video-card{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.DashVideos .delChannel{
    background-color: white;
    border: 1px solid #F488B8;
    color: #F488B8;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.DashVideos .delChannel:hover{
    color: white;
}
.DashVideos .title{
    color: #0A6AA6;
    padding: 10px;
    font-size: 25px;
}
.addchannel{
    color: white;
    background-color: #F488B8;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 45px;
    cursor: pointer;
    margin-right: 30px;
}
.DashVideos .btnadddell{
    width: 30%;
}
.DashVideos .voicesBox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 30px;
}
.voicesBox1 .add-newVid{
    padding: 12px 10px;
    border-radius: 8px;
    background-color: #f06292;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media (max-width: 1068px) {
    .DashVideos .btnadddell {
        width: 100%;
        flex-direction: row;
    }
    .DashVideos .voicesBox1 {
        margin: 0;
        flex-direction: column;
        gap: 0;
    }
    
    .DashVideos {
        margin-left: 0;
    }
}
