

.auth-body {
  background-color: #f1f3f5; 
 min-height: 100dvh; 
}

.dashboard-body {
  background-color: #f1f3f5;
 min-height: 100dvh; 
}

.normal-body {
  background-color: white;
  min-height: 100dvh; 
}
