.growthpage .imgtop{
    position: relative;
    margin-bottom: 8%;
    color: black;
}
.growthpage .imggrowth{
    width: 100%;
}
.growthpage .boxAddDataGrowth{
    top: 60%;
    left: 23%;
    position: absolute;
    width: 55%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: block;
    margin: 0 auto; 
    text-align: center;
    background: rgba(255, 255, 255, 0.32); 
    backdrop-filter: blur(20px); 
    border-radius: 20px; 
    border: 2px solid rgba(192, 211, 220, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    color: black;
    font-family: "Roboto", serif;
}
.boxAddDataGrowth h2{
    margin-bottom: 3%;
}
.boxAddDataGrowth div{
    margin: 2% 0;
}
.boxAddDataGrowth label{
    margin-right: 2%;
}
.boxAddDataGrowth div input{
    background-color: #F0F2F5;
    padding: 13px;
    border-color:#afcfff;
    outline: none;
    border-radius: 12px;
    color: #418FBF;
}
.boxAddDataGrowth div input:focus{
    border-color: #003c97;
}


.growthpage .resultGrowth div p{
    color: black;
}
.boxAddDataGrowth button{
    padding: 12px;
    background-color: #003c97;
    color: white;
    border-radius: 25px;
    border-style: none;
    width: 35%;
    margin: 2% 0;
    cursor: pointer;
    transition:  0.3s ease;
}
.boxAddDataGrowth button:hover{
    background-color: #418FBF;
}

.resultGrowth {
    /* background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px; 
    border: 2px solid rgba(192, 211, 220, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 35px 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    font-family: "Roboto", serif;
}

.resultGrowth p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.resultGrowth span {
    font-weight: bold;
    color: #003c97; /* لون النص الأزرق الداكن */
}

.resultGrowth .gWeight,
.resultGrowth .gHeight {
    background-color: #418FBF;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.resultGrowth .gWeight:hover,
.resultGrowth .gHeight:hover {
    background-color: #003c97; 
}

.resultGrowth .red-box,
.resultGrowth .green-box {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.resultGrowth .red-box {
    background-color: #ffdddd; 
    border: 2px solid #ff4d4d; 
    color: #b30000; 
}

.resultGrowth .green-box {
    background-color: #ddffdd; 
    border: 2px solid #4CAF50; 
    color: #006600; 
}